body {
    margin: 0;
    background-color: #2a3641;
    box-sizing: border-box;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}



.card{
    width: 200px;
    height: 300px;
    border: 5px solid skyblue;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: skyblue;
    border-radius: 20px;
    cursor: grab;
}
